body{
    color:white;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5147d98fe4b0e61bb0ab60ec/1554840282215-1JQY3H6IPHTRYX201KSB/ke17ZwdGBToddI8pDm48kJRd4WeiaFwHmh6UajFNgq57gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Uao9CdUvRK56zFWBAZf5rnxMh1_W5Z_PZbX9Jw0-wQQFKMpVOKskuS-bwtt9dYKlZQ/IMG_9525.JPG?format=1000w);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: black;

}

.calculator{
    background-color: pink; 
    border: 12px solid black;
    width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.buttons{
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.buttons:hover{
    background-color: transparent;
    color:black;
}

.row0{
    background-color: grey;
    border: 5px solid black;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 90px;
    justify-content: center;
    align-items: center;
    overflow: visible;
    text-overflow: clip;


}

.row1{
    background-color: hotpink;
    display: flex;
    width: 100%;
    justify-content: center;

}   

.row2{
    background-color:hotpink;
    display: flex;
    width: 100%;
    justify-content: center;

}


.row3{
    display: flex;
    background-color: hotpink;
    width: 100%;
    justify-content: center;
    
    
}


.row4{
    display: flex;
    background-color: hotpink;
    width: 100%;
    justify-content: center;

}


.row5{
    display: flex;
    background-color: hotpink;
    width: 100%;
    justify-content: center;
     
}

.row6{
    display: flex;
    background-color: gray;
    width: 100%;
    justify-content: center;
    
     
}
